body {
  background-color: rgb(71, 235, 219);
  animation-name: test;
  animation-duration: 40s;
}

 h1 {
color:rgb(233, 102, 31);
}

* {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div {
  display: center;
  color: orangered;
  font-size: 40px;
  position: relative;
  animation-name: test;
  animation-duration: 30s;
  background-color: transparent;
  animation-direction: normal;
}
.body-container {
 
  
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer {
  font-size: 30px;
  color:whitesmoke;
  
}
@media screen and (max-width: 768px) {
  body {
    background-color: orange;
  }
 
  
}
